<table class="table table-responsive-sm">
  <thead class="thead-primary bg-primary text-light" app-table-head></thead>
  <tbody>
    <ng-container *ngFor="let affected of affecteds; let i = index">
      <tr *ngIf="!affected.isInRecovered">
        <th scope="row">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [(ngModel)]="affected.affected"
              id="customCheck{{ i }}"
            />
            <label
              class="custom-control-label"
              for="customCheck{{ i }}"
            ></label>
          </div>
        </th>
        <td>{{ affected.id }}</td>
        <td>{{ affected.name }}</td>
        <td>{{ affected.city }}</td>
        <td>{{ affected.gender == "male" ? "👨🏻" : "👩🏻" }}</td>
      </tr></ng-container
    >
  </tbody>
</table>
<div
  class="d-flex justify-content-center align-items-center p-4"
  *ngIf="!affecteds"
>
  <div class="spinner-grow text-warning mx-2 spinner-grow-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning mx-2" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning mx-2 spinner-grow-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
