<div class="starter-template mb-4">
  <h3>Move ✔ friends to Recovered</h3>
  <p class="lead">
    Click the button below to move the selected patients to recovered status.
  </p>

  <button class="btn btn-success mb-2" (click)="moveToRecovered()">
    Move 😃
  </button>
</div>

<div class="starter-template">
  <h3>Add Patient Friend</h3>
  <p class="lead">Use the below form to add a friend who is a patient.</p>
</div>
<form>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label>Location</label>
    <select class="custom-select">
      <option selected disabled>Select a location</option>
      <option value="Kolkata">Kolkata</option>
      <option value="Chennai">Chennai</option>
      <option value="Chennai">Chennai</option>
      <option value="Bangalore">Bangalore</option>
      <option value="Pune">Pune</option>
    </select>
  </div>
  <div class="form-group">
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        id="customRadioInline1"
        name="gender"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="customRadioInline1"
        >👨🏻 Male</label
      >
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        id="customRadioInline2"
        name="gender"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="customRadioInline2"
        >👩🏻 Female</label
      >
    </div>
  </div>
  <button class="btn btn-primary mb-2">Add Patient</button>
</form>
