<div class="starter-template mb-4">
  <h3>Move ✔ friends to back to affected</h3>
  <p class="lead">
    Click the button below to move the selected patients to affected status.
  </p>

  <button class="btn btn-primary mb-2" (click)="moveToAffected()">
    Move 😟
  </button>
</div>
<div class="starter-template mb-4">
  <h3>Remove ✔ friends</h3>
  <p class="lead">Click the button below to remove the selected patients.</p>

  <button class="btn btn-danger mb-2" (click)="removeAll()">Remove 😀</button>
</div>

<app-modal [(show)]="showAlert"></app-modal>